#account-frame{
    min-width: 580px;
    margin-left: 50px;
    margin-right: 50px;
    height: 800px;
    padding: 15px;
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#password-change-form{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.form-error{
    display: none;
    background-color: rgb(226, 59, 59);
    border-radius: 8px;
    width: 500px;
    text-align: center;
    color: white;
}
.form-success{
    display: none;
    background-color: rgb(150, 239, 16);
    border-radius: 8px;
    width: 500px;
    text-align: center;
    color: white;
}