.posts{
    background-image:  radial-gradient(rgb(234, 116, 116), aliceblue);
    border: 2px solid rgb(32, 32, 110);
    width: 96%;
    margin-top: 20px;
    margin-left: 20px;
}
.posts-padding{
    padding: 10px;
}
.posts-content ul{
    list-style-type: none;
    padding-left: 0px;
}
.post{
    background-color: antiquewhite;
    border: 2px solid rgb(32, 32, 110);
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
}
.post-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.post-author{
    display: flex;
    flex-direction: row;
}
.post-author a{
    padding-left: 5px;
    font-weight: 700;
    cursor: pointer;
}
.post-title-picture-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}
.post-title-picture{
    height: 70px;
}
.post-content{
    padding: 10px;
}
.post-image-frame{
    display: flex;
    justify-content: center;
    padding: 2px;
}
.post-image{
    width: 98%;
}
.post-reviews{
    border-top: 2px solid black;
}
.post-reviews-row{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}
.likes-dislikes{
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    width: 80px;
    height: 20px;
    justify-content: space-between;
}
.likes-dislikes p{
    font-weight: 500;
}
.post-like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-dislike{
    display: flex;
    flex-direction: row;
}
.comments{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    margin-right: 50px;
}
.comments a{
    color: black;
}
.like-icon{
    margin-bottom: 2px;
}
.dislike-icon{
    margin-top: 4px;
}
.comments-section{
    display: none;
}
.comment{
    display: flex;
    flex-direction: row;
    border:rgb(32, 32, 110) solid 2px;
    margin-bottom: 5px;
}
.add-comment-input{
    width: 370px;
}
.comment-profile-picture-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}
.comment-profile-picture{
    height: 70px;
}
.comment-author{
    font-weight: 700;
    color: black;
    margin-right: auto;
}
.comment-content{
    padding: 5px;
    width: 350px;
    overflow-wrap: break-word;
}
.delete-comment{
    margin-left: auto;
    height: 20px;
}
.gifs{
    border: 1px solid cornflowerblue;
    background-color: grey;
    color: white;
    max-height: 20px;
    margin-bottom: 15px;
}
.gifs:hover{
    cursor: pointer;
    border: 3px solid cornflowerblue;
}
#load-more{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#load-more:hover{
    border: 2px solid white;
    cursor: pointer;
}